body{
  background-color: black;
  font-size: 1.5rem;
  padding-top: 10%;
}
.App {
  font-family: sans-serif;
  text-align: center;
  color: greenyellow;
  align-items: center;
}

.App h1 {
  color: cornflowerblue;
}

.UserName{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.0rem;
  color: salmon
};

.RangeCounter {
  height: 10rem;
  border: 0.5rem solid palevioletred;
}

em {
  font-size: 1rem;
  color: salmon;
}

.RangeCounter__title {
  display: inline-block;
  color: tomato;
  padding: 50px 0 50px 0;
}

.RangeCounter__controls {
  margin-left: 40%;
  align-items: center;
  color: slateblue;
  border: 0.5rem solid palevioletred;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  justify-items: center;
  padding: 1rem;
  width: 18vw;
}

.RangeCounter__alert {
  padding-top: 10px;
  display: inline-block;
  color: red;
}


button {
  border-radius: 0.3rem;
  font-size: 1.2rem;
  color: brown;
  background-color: burlywood;
  height: 2rem;
}

button:disabled {
  background-color: gray;
}
